CHURN_MODEL_FILENAME=churn_pos_venda_rf_calibrated.joblib
CHURN_MODEL_SHA256=bc096497fbe0fccb5109e7a115cd7983c1feff02ea1498301e27a766467bd75b
CHURN_MODEL_URL=
MODELS_DIR=models
PERFIL_MODEL_FILENAME=segmento_pos_venda_classifier_experimental.joblib
PERFIL_MODEL_SHA256=6b6f2ef1718f03227d99fb2d7342d8cd5c221a42242e233ec6abc45c5831664f
PERFIL_MODEL_URL=
SECRET_KEY=changeme-local-only